@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');


ion-content {

    display: flex;
}

h1 {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    // margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    color: black;
    height: 100%;

}